@import "./buttons.css";
@import "./videobar.css";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Lato&display=swap');

body {
  background-color: #43DDE6;
  margin: 0;
  block-size: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.wrapper {
  max-inline-size: 900px;
  margin: auto;
}

.player video {
  inline-size: 100%;
  aspect-ratio: 16/9;
  vertical-align: middle;
  object-fit: cover;
}

.player {
  position: relative;
}

.player-title {
  color: white;
}

.player-title {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
}

.player-actions {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.player-progress {
  position: absolute;
  inset-inline: 0;
  inset-block-end: 0;
  padding: 30px 20px;
  display: flex;
}

.player-progress input {
  flex: 1;
  cursor: pointer;
}

.player-controls {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: .3s opacity;
}

.player:hover .player-controls {
  opacity: 1;
}

.top-circle,
.bottom-circle {
  position: absolute;
  inline-size: 700px;
  block-size: 700px;
  border: 80px solid rgba(0, 0, 0, .1);
  border-radius: 50%;
}

.top-circle {
  top: -75%;
  left: -20%;
}

.bottom-circle {
  bottom: -65%;
  right: -20%;
}